<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Passwords"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form (ngSubmit)="addPassword(fPass)" #fPass="ngForm">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>Proveedor</ion-label>
                <ion-input name="proveedor"
                            type="string"
                            [(ngModel)]="newPassword.provider"
                            required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Usuario</ion-label>
                <ion-input name="usuario"
                            type="string"
                            [(ngModel)]="newPassword.user"
                            required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input name="contraseña"
                            type="string"
                            [(ngModel)]="newPassword.password"
                            required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-button type="submit"
                        color="tertiary"
                        shape="round">
              Agregar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
